@model IEnumerable<QuanLySach.Models.CategoryViewModel>

<!-- Loop through each category -->
@foreach (var category in Model)
{
<div class="mb-5" style="margin-top: 40px">
    <h1>@category.name.ToUpper()</h1> <!-- Category Name -->

    <div style="margin-top: 0px; margin-bottom: 40px; display: flex; justify-content: space-between; flex-wrap: wrap;">
        @foreach (var product in category.Products)
        {
            <a href="@Url.Action("XemChiTiet", "Sach", new { ms = product.Id })">
                <div class="col-md-3 text-start text-dark product-container" style="display: inline-block; width: 300px; height: auto">
                    <img class="rounded img-fluid product-image" src="@Url.Action("GetImage", "Sach", new { id = product.Id })" width="330px" height="auto" style="box-shadow: 0px 0px 5px 1px;" />


                    <br />
                    <span class="title-product" style="color: var(--ast-global-color-2); font-size: 20px; font-family:'Times New Roman', Times, serif">@product.Name</span><br />

                    <span class="price">
                        <span class="price-amount"><b>@string.Format("{0:N0}", product.Price) VNĐ</b></span>
                    </span>
                    <img src="https://waka.vn/svgs/icon-sale.svg" alt="icon-sale" style=" position: absolute; top:0px; right: 10px; margin-top: 6px;">

                    @*@if (product.quantity != 0)
                        {
                            <a class="btn btn-primary text-center link-dark border-dark"
                               role="button"
                               href="@Url.Action("ThemGioHang", "GioHang", new { @ms = product.id })"
                               style="width: 130px; font-size: 14px; color: rgb(255, 255, 255); background: rgb(0, 0, 0); text-align: center; margin-top: 5px; margin-right: 0; margin-bottom: 5px; margin-left: 17px; font-family: Heebo;">Mua Ngay</a>
                        }
                        <a class="btn btn-primary text-center link-dark border-dark"
                           role="button"
                           href="@Url.Action("XemChiTiet", "Sach", new { ms = product.id })"
                           style="width: 130px; font-size: 14px; color: rgb(1, 1, 1); background: rgba(248, 250, 255, 0); text-align: center; margin-top: 5px; margin-right: 0; margin-bottom: 5px; margin-left: 11px; font-family: Heebo;">Chi Tiết</a>*@
                </div>
            </a>
        }
    </div>
</div>
        

        }

